body {
    background-image: linear-gradient(#E8EBFF, #283DCC);
}

.navbar-brand {
    margin: 0;
    padding: 0;
    opacity: 100;
    padding-left: 200px;
}

.navbar-nav {
    padding-right: 200px;
}

.nav-link {
    font-weight: 600;
}

.logo {
    height: 40px;
    padding-right: 15px;
    padding-left: 30px;
}

.navbar-nav>li {
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'ClashDisplay-Medium';
}

.navbar-nav .nav-link {
    position: relative;
}

.navbar-nav .nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background-color: #ffffff;
    width: 0%;
    height: 2px;
    transition: all .3s ease-in-out;
    opacity: 50%;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.register-button {
    padding: 10px 20px;
    background-color: #ffffff;
    color: #23272A;
    border-radius: 20px;
    font-weight: 600;
    margin-left: 10px;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.register-button:hover {
    background-color: #121212;
    color: #ffffff;
}

.register-button:focus {
    outline: none;
}

@media screen and (min-width:992px) {
    .navbar {
        position: absolute;
        top: 0;
        z-index: 10;
        background: white;
        opacity: 1;
        width: 100%;
        padding: 0;
    }

}

@font-face {
    font-family: 'ClashDisplay-Bold';
    src: url('../fonts/ClashDisplay-Bold.woff2') format('woff2'),
        url('../fonts/ClashDisplay-Bold.woff') format('woff'),
        url('/assets/Fonts/WEB/fonts/ClashDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay-Medium';
    src: url('../fonts/ClashDisplay-Medium.woff2') format('woff2'),
        url('../fonts/ClashDisplay-Medium.woff') format('woff'),
        url('/assets/Fonts/WEB/fonts/ClashDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


.col {
    display: grid;

}

.card {
    width: 270px;
    cursor: pointer;
    transition: 0.3s linear;
}

.card:hover {
    transform: scale(1.05);
}


.card img {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.hi {
    margin: 0 auto;
}

.box {
    margin: 0 auto;
    background-image: url(images/bg.png);
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    max-width: fit-content;
}

.ourwork {
    color: white;
}

.gridkeren {
    max-width: 200px;
    max-height: 200px;
    display: inline;
}

.sc {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1200px;
    margin: auto;
}

.scc {
    margin: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    min-width: 25%;
    padding: 0 4px;
}

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }

    .column img {
        filter: grayscale(0) brightness(1);
    }
}

/* .container-fluid {
    max-width: 1200px;
}*/

#carouselExampleIndicators {
    max-width: 400px;
    margin: auto;
}

.carousel-item {
    max-height: 700px;
}

.carousel {
    padding-bottom: 0px;
}

.text-dark {
    text-decoration: none;
}

.col.bi {
    min-width: 20px;
    font-size: large;
    align-content: center;
}

.textcard {
    text-align: center;
}

.menus {
    height: 500px;
}

.product-div {
    background-color: #D6DBF8;
}

.product {
    display: flex;
    padding-left: 5%;
    padding-right: 10%;
    justify-content: space-between;
}

.product-2 {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: space-between;
}

.product-text {
    max-width: 450px;
    font-style: bold;
    padding-top: 5%;
}

.illu1 {
    transition: 0.3s linear;
    max-width: 60%;
}

.illu1:hover {
    transform: scale(1.05);
}

.illu2 {
    transition: 0.3s linear;
    max-width: 50%;
}

.illu2:hover {
    transform: scale(1.05);
}

.product-text-2 {
    max-width: 450px;
    font-style: bold;
    text-align: right;
}

.cing-mobile {
    max-width: 100%;
    border-radius: 30px;
    flex-basis: 30%;
    object-fit: contain;
}

.product1-title {
    font-size: 300%;
    font-family: 'ClashDisplay-Bold';
}

.product1-paragraph {
    font-family: 'ClashDisplay-Medium';
}

.team {
    background-color: #FFFFFF;
}

.teamname {
    margin: auto;
    align-self: center;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 0px;
}

.team img {
    max-width: 80%;
    margin-bottom: 10%;
}

.team h1 {
    font-size: 300%;
    color: #23272A;
    font-family: 'ClashDisplay-Bold';
    display: block
}

.team h2 {
    color: #23272A;
    font-family: 'ClashDisplay-Bold';
    display: block;
}

.team h3 {
    color: #23272A;
    font-family: 'ClashDisplay-Medium';
    display: block;
    font-size: 130%;
    margin-bottom: 5%;
}

.team p {
    display: block;
    margin: auto;
    color: #23272A;
    font-family: 'ClashDisplay-Medium';
    max-width: 500px;
}

.news {
    background-color: #E8EBFF;
}

.ideasc {
    background-color: #E8EBFF;
}

.ideasc h1 {
    font-size: 300%;
    color: #23272A;
    font-family: 'ClashDisplay-Bold';
    display: block
}

.ideasc p {
    display: block;
    margin: auto;
    color: #23272A;
    font-family: 'ClashDisplay-Medium';
    max-width: 70%;
    font-size: 120%;
}

.ideasc-tl {
    margin: auto;
    padding-bottom: 4%;
}

.ideasc-p {
    margin: auto;
    text-align: center;
}

.transition1 {
    width: 100%;
    object-fit: cover;
    min-width: 100%;
    position: relative;

}

.teamtl {
    position: absolute;
    padding-top: 11%;
}

.teamtl-div {
    display: inline-block;
    padding-bottom: 0px;
}

.ideatl {
    position: absolute;
    padding-top: 11%;
}

.transition1 {
    position: relative;
    display: inline;
    margin-bottom: -7%;
}